body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.wideview {
  display:flex;
  flex-direction: column;
  max-width: 1400px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 0px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.time-hour {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  border:#00000070 1px solid;
  width: 80px;
}

.time-stage{
  border:#00000070 1px solid;
  font-weight: bold;
}

#data-saved {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  padding:10px
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  padding: 24px;
  font-size: 24px;
  font-weight: bold;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: black;
}

.saveBtn:hover {
  color:white;
  background-color: rgb(57, 122, 241);
  transition: all .3s ease-in-out;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
